# Probme Statement 1: Install Jupyter notebook and run the first program and share the screenshot of the output.

In [14]:
print("Problem 1\n")
print('Hello World using Pyhton3 Jupyter Notebook')

Problem 1

Hello World using Pyhton3 Jupyter Notebook

# Problem Statement 2: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
print("Problem 2\n")
Cnt= 0
string_output=''
StartRange = 2000 # int(input ("Provide start of range:"))
EndRange = 3200 # int(input ("Provide end of range:"))

if (StartRange < EndRange ): 
    
    lst = []
    lst = list(range(StartRange,(EndRange+1),1))
    out_lst =[]

    for i in lst:
        if ((i %7)==0 ) and ((i%5) !=0):
            out_lst.append(i) # Appending output list elemnets
            string_output=string_output+ str(i)+","
            Cnt=Cnt+1
        else:
            continue
    if (string_output.endswith(",")): string_output=string_output.rstrip(",")
    if (out_lst.count == 0):
        print ("No element exist in given range for")
    else:
        print ('\n Output as comma seperated list of ', Cnt, ' elements: \n') # List output
        print( out_lst)
        print ('\n Output as comma seperated string of ', Cnt, ' elements: \n') # String output
        print (string_output)
else:
    print("Sorry! Wrong input. Pleae re-run the code with correct range input.")

Problem 2


 Output as comma seperated list of  138  elements:

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

 Output as comma seperated string of  138  elements:

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

# Problem Statement 3: Accept user's First Name and Last Name and reverse the sequence in ouput

In [2]:
print("Problem 3\n")
FName = input ('Please provide your first name:')
LName = input ('Please provide your last name:')
print ('Your name in reverse order is:', LName+' '+FName)

Problem 3

Please provide your first name:Sneh
Please provide your last name:Patil
Your name in reverse order is: Patil Sneh

# Problem Statement 4 : Volumen of sphere with radius as 12 cm

In [3]:
print("Problem 4\n")
r = 12 # radius in cm
v = (4/3)* (22/7)* (r*r*r)

print ('Volume of sphere with radius',r,'cm =', v, 'centemeter cube')

Problem 4

Volume of sphere with radius 12 cm = 7241.142857142856 centemeter cube